<h1 align='center'> Listing all articles </h1>

<div class="flickr_pagination mb-2">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
