<!DOCTYPE html>
<html>

<body>
  <%= link_to 'Back', root_path %>
  <h1> The handsome creator</h1>
  <img src = 'creator.jfif' alt = 'Hey' width = '300' height = '400'>
  <h2> The sponsor and our dearest friend </h2>
  <img src = 'sponsor.jfif' alt = 'Hey' width = '300' height = '400'>
  <h2> Our gay friends </h2>
  <img src = 'gayfriends.jfif' alt = 'Hey' width = '300' height = '300'>
</body>

</html>
