<!DOCTYPE html>
<html>


<body style = 'background-color:tomato;'>
  <h1 > A tribute to our kuku lover </h1>
  <h2 style = 'color:yellow;'> Please take a look at the members without whom this was not possible. </h2>
  <h1>  <%= link_to 'Click here', about_path %> </h1>


  <img src = 'vishnu_kukulover.jfif' alt = 'Hey' width = '300' height = '400'>
  <img src = 'kuku.PNG' alt = 'Hey' width = '300' height = '400'>
</body>
</html>
