<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div class="center jumbotron">
    <h1 class="display-4" >KUKU LOVER</h1>

    <h2 class="lead">
      A tribute to the kuku lover
    </h2>
    <img src = 'vishnu_kukulover.jfif' alt = 'Hey' width = '300' height = '400' >
    <img src = 'kuku.PNG' alt = 'Hey' width = '300' height = '400'> <br> <br>

    <h2 class='lead'> All this couldn't be possible without the team, please <%= link_to 'Click here', about_path,
      class: 'link_color' %> to go to teams page.</h2>
    <%= link_to 'Sign up', '#', class: 'btn btn-hover btn-lg btn-xlarge ' %>
  </div>

</body>
</html>
