<!DOCTYPE html>
<html>


<body style = 'background-color:tomato;'>
  <h1> A tribute to our kuku lover </h1>
  <p style = 'color:blue;'> Please take a look at the members without whom this was not possible.
    Please <a href = 'https://vishnu-kukulover.herokuapp.com/about' >  click here </a>
  </p>

  <img src = 'vishnu_kukulover.jfif' alt = 'Hey' width = '300' height = '400'>
  <img src = 'kuku.PNG' alt = 'Hey' width = '300' height = '400'>
</body>
</html>
