<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; <%= link_to 'The Kuku Lover comm', about_path, class:'link_color' %> by
        <%= link_to 'Prathamesh Vichare', about_path, class:'link_color'%>
    </small>
    <nav>
      <ul>
        <li> <%= link_to 'About', about_path, class:'link_color' %> </li>
      </ul>
    </nav>
  </footer>
</div>
